* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-transform: capitalize;

}



/* navbar and background image */

.topDiv {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(./images/backdp.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */

}

.logo {
    width: 90px;
}

@media only screen and (max-width: 600px) {
    .topDiv {
        /* height: 20px; */
    }

    .logo {
        width: 60px;
    }
}

.myNavBar {
    color: white !important;
    background-color: transparent !important;
    /* position: sticky; */
    /* top: 0%; */
}

.bsNavLinks {
    color: white !important;
    transition: 0.5s;
}

.bsNavLinks:hover {
    color: #e65f7c !important;
    text-decoration: underline;
}

.myIcon {
    color: white !important;
    /* border: 2px solid white !important; */
    font-size: 20px;

}

.osNmSec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
}

.osName {
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    /* border: 2px solid white; */
    margin-top: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* border: 2px solid white; */
/* border: 2px solid; */

/* <!-- section for experience --> */
.serv {
    border-bottom: 5px solid crimson;
}

.exper:hover {
    color: crimson;
    cursor: pointer;
    text-decoration: underline;
}

/* ---another section--- */
.stepContainer .step {
    border: 2px solid crimson;
    /* height: 70vh; */
    background-color: #fff;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem grey;
}

.stepContainer .step span {
    font-size: 5rem;
    color: crimson;
    font-weight: bolder;
}

.stepContainer .step h3 {
    font-size: 2rem;
    color: black;
}

.stepContainer .step p {
    font-size: 1rem;
    color: black;
}

.stepContainer .step a {
    border: 1px solid black;
    font-size: 17px;
    padding: 10px 17px;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}

.stepContainer .step a:hover {
    background-color: #e65f7c;
    color: white;
    text-decoration: none;
    border: none;

}

/* --vendpr section--- */
.box {
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0 5px;
    cursor: pointer;
}

.box img {
    box-shadow: 0 .5rem 1rem grey;
    height: 20rem;
    width: 100%;
    transform: scale(1) !important;

}

.box img:hover {
    transform: scale(2.3);
}


.box .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 99.9%;
    background: rgba(254, 254, 254, .8);
    text-align: center;
    transform: scale(2.3);
    opacity: 0;
}

.box .info:hover {
    transform: scale(1);
    opacity: 1;
    transition: 0.5s;
}

.box img:hover {
    transform: scale(1) !important;
}

.box .info h3 {
    font-size: 2rem;
    color: black;
}

.box .info p {
    font-size: 1rem;
    color: #666;
    padding: 1rem;
}

.box .info a {
    border: 1px solid black;
    font-size: 17px;
    padding: 10px 17px;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}

.box .info a:hover {
    background-color: #e65f7c;
    color: white;
    text-decoration: none;
    border: none;

}

/* ---client Portion--- */
.clientPortion {
    display: flex;
}

/* .divider { */
/* padding: 1rem 1rem; */
/* border: 2px solid black !important; */
/* } */

.clientBox img {
    padding: 0;
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 25px solid wheat;
    box-shadow: 0 .5rem 1rem black;
}

.clientInfo {
    padding: 2rem 0;
}

.box2 {
    /* border: 2px solid ; */
    /* margin: 10px 50xp; */
    padding: 0 10px;
}

.clientInfo p {
    font-size: 1rem;
}

.clientInfo h3 {
    font-size: 1.7rem;
}

.clientInfo i {
    /* font-size: 1.7rem; */
    color: #e65f7c;
    font-size: 10px;
}


/* ----slidder--- */
#slider {
    position: relative;
    width: 50%;
    height: 30vw;
    margin: 80px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}


input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}




#slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}

.slidermainbox {
    border: 2px solid transparent;
    margin-top: 50px;
    position: relative;
    width: 100%;
    padding: 0px 10px 30px 10px;


}

.sliderBox {

    background-image: url(./images/card-bg.png);
    background-repeat: no-repeat;
    /* position: relative; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 40px !important; */

}

#slide1 {
    background-image: url(./images/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 140% !important; */
}

#slide2 {
    background-image: url(./images/slider2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: red;
}

#slide3 {
    background-image: url(./images/slider3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#slide4 {
    background-image: url(./images/slider4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#slide5 {
    background-image: url(./images/slider5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}







/* Slider Functionality */

/* Active Slide */
#s1:checked~#slide1, #s2:checked~#slide2, #s3:checked~#slide3, #s4:checked~#slide4, #s5:checked~#slide5 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

#s1, #s2, #s3, #s4, #s5 {
    display: none;
}

/* Next Slide */
#s1:checked~#slide2, #s2:checked~#slide3, #s3:checked~#slide4, #s4:checked~#slide5, #s5:checked~#slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked~#slide3, #s2:checked~#slide4, #s3:checked~#slide5, #s4:checked~#slide1, #s5:checked~#slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked~#slide4, #s2:checked~#slide5, #s3:checked~#slide1, #s4:checked~#slide2, #s5:checked~#slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked~#slide5, #s2:checked~#slide1, #s3:checked~#slide2, #s4:checked~#slide3, #s5:checked~#slide4 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}

/* --footer-- */
.mainFooter {
    background-color: crimson;
    position: absolute;
    width: 100%;

}

.mainFooter footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainFooter footer p {
    padding-top: 10px;
    color: white;

}

.mainFooter footer a {
    background: transparent;
    color: white;
    /* height: 20px; */
    font-size: 30px;
    /* width: 50px !important; */
}

.mainFooter footer a i {
    width: 50px;
    text-align: center;
}

.mainFooter footer a:hover {
    color: crimson;
    background: white;
    transition: 0.5s;
}








/* ---meadia query--section---- */
@media only screen and (max-width:600px) {
    h1 {
        font-size: 20px !important;
    }

    .osName {
        font-size: 25px !important;
        font-weight: 600;

    }

    .os1 {
        font-size: 10px !important;
        /* border: 2px solid whi; */
    }

    .osNmSec {
        height: 180px;
    }

    .topDiv {
        height: 560px;
    }

    .clientPortion {
        flex-flow: column;

    }

    .clientPortion img {
        height: 320px;
    }


}

@media only screen and (max-width:920px) {
    h1 {
        font-size: 20px !important;

    }

    .osName {
        font-size: 45px !important;
        font-weight: 600;

    }

    .osNmSec {
        height: 380px;
    }


    .topDiv {
        height: 500px;
    }

    .mainFooter footer {
        flex-flow: column;

    }

    .clientPortion {
        flex-flow: column;

    }

    .clientPortion img {
        height: 320px;
    }

    .clientBox {
        display: flex;
        flex-direction: column-reverse;
    }

    .mybox2 {
        display: flex;
        flex-direction: column-reverse;
    }

    /* .divider{
        display: none;
    } */

}

@media only screen and (max-width:760px) {
    h1 {
        font-size: 20px !important;

    }

    .osName {
        font-size: 39px !important;
        font-weight: 600;

    }

    .osNmSec {
        height: 330px;
    }


    .topDiv {
        height: 400px;
    }


}

@media only screen and (max-width:500px) {
    .osName {

        font-size: 25px !important;
        font-weight: 600;

    }

    .osNmSec {
        height: 180px;
    }

    .topDiv {
        height: 240px;
    }


}